{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          // "browsers": [
          //   "IE >= 9.0"
          // ]
        }
      }
    ],
    // '@babel/preset-react'
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    "@babel/plugin-syntax-dynamic-import",
    // "@loadable/babel-plugin",
    [
      "@babel/plugin-transform-runtime"
    ]
  ]
}